/* GLOBAL SETTINGS (like a Normalize) */
html {
	font-family: -apple-system, Helvetica, Arial, sans-serif;
}



/* LOCAL SETTINGS */
#AccountWindow {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #CCC; /* backup color if background image fails to load */
	background-image: none; /* javascript will populate an image here */
	background-size: cover;
	background-position: center center;
	z-index: 5;
}
#AccountBar {
	position:absolute;
	top: 0px;
	height: 30px;
	width: 100%;
	background-color: #000;
}
#MainWindow {
	position:absolute;
	top: 30px;
	bottom: 0px;
	width: 100%;
	display: flex;
	z-index: 1;
}


/*** Account Window (Login/Sign Up) ***/
#AccountManagement {
	width: 250px;
	height: 360px;
	background-image: url("static/brown-bag.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding-top: 50px;
	color: white;

	display: flex;
	align-items: stretch;
	justify-content: center;
	flex-direction: column;
}
#AccountTabs {
	display: flex;
}
.AccountTab {
	flex-grow: 1;
	font-weight: bold;
	text-align: center;
	padding: 8px 6px;
	border: none;
	transition: all .3s;
	cursor: pointer;
}
.AccountTab:not(.tab_selected):hover {
	color: black;
	z-index: 2;
}
.AccountTab.tab_selected {
	cursor: default;
}

#LoginWindow {
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#LoginWindow > .loginText {
	text-align: left;

	border-radius: 4px;
	width: 200px;

	font-size: 15px;
	padding: 2px;
}
#LoginWindow > div {
	font-size: 15px;
	padding: 2px;
}
#username, #password {
	padding: 1px 6px 0px 6px !important;
	border: 0px; /* presence of border gets rid of inset thingy */
	height: 30px;
}
#password {
	margin-bottom: 30px;
}
#loginResponse {
	height: 15px;
	margin: 5px;
	color: #0000ff;
	font-style: italic;
}
#loginButton {
	margin-bottom: 15px;
}

.button {
	display: inline-block; /* even if we hide buttons, they should be restored to this */
	font-size: 12px;
	height: 25px;
	padding-left: 4px;
	padding-right: 4px;
	border: 2px solid #F4F4F4;
	border-radius: 4px;
	background-color: #F4F4F4;
	color: #000000;
	cursor: pointer;
	transition-duration: 0.1s;
}
.button:hover, .button:focus {
	background-color: #000000;
	color: #FFFFFF;
}

/*** Account Bar ***/
#accountButton {
	position: absolute;
	right: 0px;
	height: 100%;
	font-size: 15px;
	background-color: #000;
	color: #FFF;
	border-width: 0px;
	border-left: 1px solid #FFF;
	border-radius: 0px;
	padding: 2px 6px;
	margin: 0px;
}
#accountButton:hover {
	background-color: #555;
}

#AccountPanel {
	position: absolute;
	top: 35px;
	right: 5px;
	z-index: 3;

	display: flex;
	flex-direction: column;
	align-items: flex-end;

	background-color: #DDD;
	border-radius: 2px;
	box-shadow: 0px 0px 4px black;
}
#AccountPanel > div {
	background-color: #DDD;
	width: 100%;
	color: #000;
	text-align: right;
	font-size: 16px;
	font-weight: bold;
	padding: 10px;
	cursor: pointer;
}
#AccountPanel > div:hover {
	background-color: #BBB;
}
div#ap_delete_account {
	color: #F00;
}


/*** General Box Settings ***/

.box { /* Box to hold node names and X buttons*/
	background-color: #DDD;
	border: 2px solid #DDD;
	border-radius: 4px;
	margin: 0px 0px 3px 0px; /* vertical horizontal */
	overflow: hidden;
	opacity: 1;
	transition: all .2s;
}
.box.disabled {
	opacity: 0.35;
	transition: all .2s;
}

.box_contents {
	font-size: 15px;
	display: inline-block;
	padding: 2px 14px;
	transition: all .2s;
}
.Xable.box:hover > .box_contents, #recipe_area.expanded .Xable.box > .box_contents {
	padding: 2px 4px;
	transition: all .2s;
}
.Xable.box:hover > .XButton, #recipe_area.expanded .Xable.box > .XButton{
	width: 21px;
	border-left: 1px solid #FFF;
	transition: all .2s;
}
.XButton {
	display: inline-block;
	color: #FFF;
	width: 0px;
	border-left: 0px;
	padding: 0px;
	cursor: pointer;
	font-size: 15px;
	text-align: center;
	transition: all .2s;
}


/*box color overrides*/
#recipe_area .box {
	background-color: #F99;
	border: 2px solid #F99;
}
#search_area .box {
	background-color: #DDD;
	border: 2px solid #DDD;
}
#menu_area .box {
	background-color: #9BF;
	border: 2px solid #9BF;
}

#menu_area .box_highlighted {
	border: 2px solid gold;
}

#recipe_area .Xable.box:hover > .XButton, #recipe_area.expanded .Xable.box > .XButton {
	border-left: 1px solid #F55;
}
#menu_area .Xable.box:hover > .XButton {
	border-left: 1px solid #57F;
}

#menu_area .box_selected {
	border: 2px solid #00F;
}

.ingr_box {
	flex-shrink: 0;
}
.ingr_quantity {
	font-size: 15px;
	text-align: right;
	display: inline-block;
	background-color: #F99;
	width: 0px;
	padding: 2px 0px;
	border-width: 0px;
	transition: all .2s;
}
#recipe_area.expanded .ingr_quantity {
	width: 50px;
	padding: 2px 0px 2px 4px;
	border-radius: 4px;
}
.ingr_quantity::input-placeholder {
	color: #555555;
}
.ingr_quantity::-webkit-input-placeholder {
	color: #555555;
}




/***** Recipe Entry Panel *****/
#recipe_area {
	display: flex;
	flex: 0 0 200px;
	background-color: #FF5555;
	flex-direction: column;
}

/* Individual Entry Panels*/
.recipe_entry {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-around;
}
#meal_entry {
	flex: 1 0 80px;
	background-color: #FF5555;
	border-bottom: 10px solid #FF0000;
}
#ingr_entry {
	flex: 10 0 250px;
	justify-content: flex-start;
	padding-top: 10px;
	border-bottom: 10px solid #FF0000;
	overflow: auto;
}
#tag_entry {
	flex: 2 0 100px;
	justify-content: flex-start;
	padding-top: 10px;
}

/* Input closet*/
.node_input {
	text-align: center;
	background-color: #FF9999;
	border: 2px solid #FF9999;
	border-radius: 4px;
	width: 150px;

	font-size: 15px;

	margin: 2px 0px;
	padding: 2px;
}
.node_input::input-placeholder {
	color: #555555;
}
.node_input::-webkit-input-placeholder {
	color: #555555;
}
.input_selected {
	border-color: dodgerblue;
}


#meal_input {

}
#ingr_input {
	display: none;
	order: 2;
}
#tag_input {
	display: none;
	order: 2;
}
#desc_input {

}

/* meal entry*/
.meal_button:hover {
	background-color: #FF0000;
}
#remove_meal_button {
	display: none;
}
#expandRecipe {
	position: absolute;
    left: 170px;
    top: 60px;
}


/***** Recipe Instruction Panel *****/
#instr_area {
	flex: 3 0 300px;

	display: flex;
	flex-direction: column;
	align-items: center;

	background-color: #F00;
	padding: 10px;
}
#recipe_area.expanded {
	flex: .5 0 200px;
}

.instruction {
	width: 100%;
	height: 100%;
	background-color: #F99;
	border: 4px solid #F99;
	-webkit-border-radius: 4px; /* no idea why the browsers need this!  Modern browsers should do fine with border-radius */
	font-size: 15px;
	overflow: auto;
	resize: none;
}
.instruction:disabled {
	background-color: #F00;
	border: 4px solid #F00;
}



/***** _result Area Panel *****/

#search_area {
	flex: 2 0 300px;
	background-color: #CACBB5;
	display: flex;
	flex-direction: column;
}

/* Tabs */
#search_tabs{
	display: flex
}

.SearchTab {
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
	text-align: center;
	padding: 8px 6px;
	border: none;
	transition: all .3s;
	background-color: #DDDDDD;
	color: #000000;
	cursor: pointer;
}
#tab_mealSearch {
	flex-grow: 1;
}
#tab_ingrSearch {
	flex-grow: 1.3;
}
#tab_menuGenerator {
	flex-grow: 1.2;
}

.SearchTab:not(.tab_selected):hover {
	background-color: #000000;
	color: #DDDDDD;
	z-index: 2;
}
.SearchTab.tab_selected {
	background-color: #444444;
	color: #DDDDDD;
	cursor: default;
}

/* Search Areas */
#search_windows {
	flex: 0 0 100px;
	display: flex;
}
.SearchWindow {
	display: none;
}
.window_selected {
	flex: 1 1 auto;
	background-color: #444444;
	color: #FFFFFF;
	display: flex;
}

/* Meal Lookup*/
#sWindow_mealSearch {
	padding: 10px;
	flex-direction: column;
	align-items: left;
	justify-content: center;
}
#sWindow_mealSearch > * {
	margin: 5px;
}
#mealSearch {
	display: block;
	border: none;
	padding: 4px;
	border-radius: 4px;
}

#mealSpecifications {
	resize: none;
}


/* ingr Search*/
#sWindow_ingrSearch {
	padding: 10px;
	flex-direction: column;
	align-items: left;
	justify-content: center;
}
#sWindow_ingrSearch > * {
	margin: 5px;
}
#ingrSearch {
	display: block;
	border: none;
	padding: 4px;
	border-radius: 4px;
}

/* Menu Generator*/
#sWindow_menuGenerator {
	padding: 10px;
	flex-direction: row;
	align-items: left;
	justify-content: space-around;
}
#sWindow_menuGenerator > textarea{
	margin: 5px;
}
#sWindow_menuGenerator > div{
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: center;
}
#sWindow_menuGenerator > div > div{
	margin: 5px;
}
#mealNumvalue {
	border: 1px;
	width: 18px;
	background-color: #DDDDDD;
	color: #000000;
	text-align: center;
	font-weight: bold;
}


/* Search Results */
#search_results {
	padding: 10px;
	flex: 1 0 200px;
	display: flex;
	background-color: #AAAAAA;
	flex-direction: column;
	align-items: flex-start;
	flex-wrap: wrap;
}



/***** Menu/ingr List Panel (part of GroceryListArea!)*****/

/* Menu display area: includes meals and ingr lists */
#menu_area {
	background-color: #57F;
	display: flex;
	flex-direction: column;
	flex: 5 0 300px;
	flex-basis: 300px;
}

#mealChoices {
	flex: 1 0 100px;

	display: flex;
	flex-direction: column;
}
#groceryList {
	display: flex;
	flex: 2 0 300px;
	flex-direction: column;
	align-items: center;
}

.mcTitle {
	flex: 0 0 32px;
	align-self: stretch;
	line-height: 200%;
	background-color: #1626FF;
	color: #EEF;
	text-align: center;
}

#menuField {
	flex: 1 0 100px;
	padding: 10px;

	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: flex-start;
}
#groceryField {
	flex: 1 0 100px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: flex-start;
	width: 100%;
}


/* print button */
#print_button {
	display: none;
	margin-top: 10px;
}
#print_button:hover {
	background-color: #0000FF;
}

.start_hidden {
	display: none !important;
}
