
/*////////////////
// HTML Display //
////////////////*/

#AccountWindow {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #CCC
}
#AccountBar {
	position:absolute;
	top: 0px;
	height: 30px;
	width: 100%;
	background-color: #005500;
}
#MainWindow {
	position:absolute;
	top: 30px;
	bottom: 0px;
	width: 100%;
	display: flex;
}


/*** Account Window ***/
#AccountManagement {
	width: 250px;
	height: 350px;

	border: 4px solid black;
	border-radius: 4px;

	display: flex;
	align-items: stretch;
	justify-content: center;
	flex-direction: column;
}
#AccountTabs {
	display: flex;
}
.AccountTab {
	flex-grow: 1;
	font-weight: bold;
	text-align: center;
	padding: 8px 6px;
	border: none;
	transition: all .3s;
	background-color: #DDDDDD;
	color: #000000;
	cursor: pointer;
}
.AccountTab:not(.tab_selected):hover {
	background-color: #000000;
	color: #DDDDDD;
	z-index: 2;
}
.AccountTab.tab_selected {
	background-color: #BBB;
	color: #000;
	cursor: default;
}

#LoginWIndow {
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	background-color: #BBB;
}
#LoginWindow > .loginText {
	text-align: left;

	border-radius: 4px;
	outline: none;
	width: 200px;

	font-family: "Arial";
	font-size: 15px;
	padding: 2px;
}
#username {
	
}
#userpass {
	margin-bottom: 30px;
}
#LoginWindow > div {
	font-family: "Arial";
	font-size: 15px;
	padding: 2px;
}
#loginResponse {
	margin: 5px;
	color: red;
	font-style: italic;
}

#loginButton {
	font-family: "Arial";
	font-size: 15px;

	height: 25px;
	width: 100px;
	outline: none;
	border: 2px solid #FFFFFF;
	border-radius: 4px;
	background-color: #FFFFFF;
	color: #000000;
	cursor: pointer;
	transition-duration: 0.1s;
}
#loginButton:hover {
	border: 2px solid #FFFFFF;
	background-color: #000000;
	color: #FFFFFF;
}



/*** Account Bar ***/
#LogButton {
	position:absolute;
	right: 0px;
	height: 100%;
	padding: 7px;
	color: #FFF;
	font-family: "Arial";
	font-size: 15px;
}



/*** General Box Settings ***/

.box { /* Box to hold node names and X buttons*/
	border-radius: 4px;
	-webkit-border-radius: 4px; /* no idea why the browsers need this!  Modern browsers should do fine with border-radius */
	overflow: hidden;
}
.box_contents {
	font-family: "Arial";
	font-size: 15px;
	display: inline-block;
	padding: 2px;
}
.Xable > .box_contents {
	padding: 2px 14px 2px 14px;
	transition: all .2s;
}

.Xable:hover > .box_contents {
	padding: 2px 4px 2px 2px;
}
.Xable:hover > .XButton {
	width: 21px;
}
.XButton {
	display: inline-block;
	width: 0px;
	border-left: 0px;
	padding: 0px;
	outline: none;
	cursor: pointer;
	font-size: 15px;
	text-align: center;
	transition: all .2s; /* was only 'width' before */
}


/***** Recipe Entry Panel *****/
#recipe_area {
	display: flex;
	flex: 0 0 200px;
	background-color: #FF5555;
	flex-direction: column;
}

/* Individual Entry Panels*/
.recipe_entry {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-around;
}
#meal_entry {
	flex: 1 0 80px;
	background-color: #FF5555;
	border-bottom: 10px solid #FF0000;
}
#ingr_entry {
	flex: 10 0 250px;
	justify-content: flex-start;
	flex-wrap: wrap;
	padding-top: 10px;
	border-bottom: 10px solid #FF0000;
}
#tag_entry {
	flex: 2 0 100px;
	justify-content: flex-start;
	padding-top: 10px;
}

/* Input closet*/
.node_input {
	text-align: center;
	background-color: #FF9999;
	border: 2px solid #FF9999;
	border-radius: 4px;
	outline: none;
	width: 150px;

	font-family: "Arial";
	font-size: 15px;
	padding: 2px;
}
.node_input::-webkit-input-placeholder {
	color: #555555;
}
.input_selected {
	border-color: dodgerblue;
}


#meal_input {

}
#ingr_input {
	display: none;
	order: 2;
}
#tag_input {
	display: none;
	order: 2;
}

/* meal entry*/
.meal_button {
	height: 25px;
	border: 2px solid #FFFFFF;
	border-radius: 4px;
	background-color: #FFFFFF;
	color: #000000;
	cursor: pointer;
	transition-duration: 0.1s;
}
.meal_button:hover {
	border: 2px solid #FFFFFF;
	background-color: #FF0000;
	color: #FFFFFF;
}
#remove_meal_button {
	display: none;
}

.recipe_box { /*Box to hold item names and remove buttons*/
	background-color: #FF9999;
	border: 2px solid #FF9999;
	margin: 0px 0px 3px 0px;
}
.Xable.recipe_box:hover > .XButton {
	background-color: #FF9999;
	color: #FFFFFF;
	border-left: 1px solid #FF5555;
}


/***** _result Area Panel *****/

#search_area {
	flex: 2 0 300px;
	background-color: #CACBB5;
	display: flex;
	flex-direction: column;
}

/* Tabs */
#search_tabs{
	display: flex
}

#tab_mealSearch {
	flex-grow: 1;
}
#tab_ingrSearch {
	flex-grow: 1.3;
}
#tab_menuGenerator {
	flex-grow: 1.2;
}
.SearchTab {
	font-weight: bold;
	text-align: center;
	padding: 8px 6px;
	border: none;
	transition: all .3s;
	background-color: #DDDDDD;
	color: #000000;
	cursor: pointer;
}
.SearchTab:not(.tab_selected):hover {
	background-color: #000000;
	color: #DDDDDD;
	z-index: 2;
}
.SearchTab.tab_selected {
	background-color: #444444;
	color: #DDDDDD;
	cursor: default;
}

/* Search Areas */
#search_windows {
	flex: 0 0 100px;
	display: flex;
}
.SearchWindow {
	display: none;
}
.window_selected {
	flex: 1 1 auto;
	background-color: #444444;
	color: #FFFFFF;
	display: flex;
}

/* Meal Lookup*/
#sWindow_mealSearch {
	padding: 10px;
	flex-direction: column;
	align-items: left;
	justify-content: center;
}
#sWindow_mealSearch > * {
	margin: 5px;
}
#mealSearch {
	display: block;
	border: none;
	outline: none;
	padding: 4px;
	border-radius: 4px;
}

#mealSpecifications {
	resize: none;
}


/* ingr Search*/
#sWindow_ingrSearch {
	padding: 10px;
	flex-direction: column;
	align-items: left;
	justify-content: center;
}
#sWindow_ingrSearch > * {
	margin: 5px;
}
#ingrSearch {
	display: block;
	border: none;
	outline: none;
	padding: 4px;
	border-radius: 4px;
}

/* Menu Generator*/
#sWindow_menuGenerator {
	padding: 10px;
	flex-direction: row;
	align-items: left;
	justify-content: space-around;
}
#sWindow_menuGenerator > textarea{
	margin: 5px;
}
#sWindow_menuGenerator > div{
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: center;
}
#sWindow_menuGenerator > div > div{
	margin: 5px;
}
#mealNumvalue {
	border: 1px;
	width: 18px;
	background-color: #DDDDDD;
	color: #000000;
	outline: none;
	text-align: center;
	font-weight: bold;
}


/* Search Results */
#search_results {
	padding: 2px;
	flex: 1 0 200px;
	display: flex;
	background-color: #AAAAAA;
	flex-direction: column;
	align-items: flex-start;
	flex-wrap: wrap;
}
.search_box {
	border: 2px solid #AAAAAA;
	margin: 0px 0px 3px 0px;
}
/* Box Effects*/
.search_box.box_selected {
	border-color: #444444;
}



/***** Menu/ingr List Panel (part of GroceryListArea!)*****/

/* Menu display area: includes meals and ingr lists */
#menu_area {
	flex: 5 0 300px;
	flex-basis: 300px;
	background-color: #58F; /*55F*/
	color: #FFFFFF;

	display: flex;
	flex-direction: column;
}

#mealChoices {
	flex: 1 0 100px;

	display: flex;
	flex-direction: column;
}
#groceryList {
	flex: 2 0 300px;

	display: flex;
	flex-direction: column;
}

.mcTitle {
	flex: 0 0 32px;
	line-height: 200%;
	background-color: #1626FF;
	font-family: "Arial";
	color: #EEF;
	text-align: center;
}

#menuField {
	flex: 1 0 100px;
	padding: 2px;

	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: flex-start;
}
#groceryField {
	flex: 1 0 100px;
	padding: 2px;

	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: flex-start;
}
/*Box Properties*/
.menuMeal_box {
	background-color: #69F;
	border: 2px solid #69F;
	margin: 0px 0px 3px 0px;
}
.Xable.menuMeal_box:hover > .XButton {
	color: #FFFFFF;
	border-left: 1px solid #58F;
}

.menuIngr_box {
	background-color: #69F;
	border: 2px solid #69F;
	margin: 0px 0px 3px 0px;
}
.Xable.menuIngr_box:hover > .XButton {
	color: #FFFFFF;
	border-left: 1px solid #58F;
}
/* Box Effects*/
.disabled {
	opacity: 0.35;
}
.box_selected {
	border-color: #36F;
}
.box_highlighted {
	border-color: gold;
}


/* print button */
#print_button {
	height: 25px;
	border: 2px solid #FFFFFF;
	border-radius: 4px;
	background-color: #FFFFFF;
	color: #000000;
	cursor: pointer;
	transition-duration: 0.1s;
}
#print_button:hover {
	border: 2px solid #FFFFFF;
	background-color: #0F0;
	color: #FFFFFF;
}



.menuButtons {
	display: none;
	padding: 0px;
}

#addMeal {
	right: -4px;
	bottom: 20px;
}
#addAllMeals {
	right: -4px;
	bottom: -4px;
}
#removeMeal {
	top: 0px;
	left: 0px;
}
#clearMeals {
	top: 0px;
	right: 0px;
}
